.anchor-link {
    font: 0.8rem mono;
    color: gray;
    margin: 0;
    min-width: 2rem;
    float: right;
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    position: relative;
}
